@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	width: auto;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
/* end of reset */

:root {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;

	/* font size */
	--f-xs: 0.85rem;
	--f-s: 1rem;
	--f-m: 1.25rem;
	--f-l: 1.4rem;
	--f-xl: 3rem;

	/* spacing */
	--space-xs: 0.25rem;
	--space-s: 0.5rem;
	--space-m: 1rem;
	--space-l: 2rem;
	--space-xl: 3rem;

	/* colors */

	--clr-dark: #1c2a2b;
	--clr-light: #f1f2f6;

	--clr-light-darker: #dadadada;
	--hover-clr-dark: #bdebb1;
	--hover-clr-light: #005198;

	--shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}

body {
	background-color: var(--clr-dark);
}

a {
	text-decoration: none;
	color: inherit;
}

/* utilities */

.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.container {
	max-width: 2000px;
	width: 100%;
	margin: 0 auto;
}

.grid {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		'logo'
		'header'
		'main'
		'navbar'
		'footer';
}

/* logo */

.logo {
	grid-area: logo;
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	color: var(--clr-light);
}

.logo svg {
	height: 2.5rem;
}
.logo__text {
	font-weight: 600;
	font-size: 1.5rem;
}

/* header */
.header {
	grid-area: header;
	padding: var(--space-m);
}

.header svg {
	fill: var(--clr-dark);
}

.header__actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--space-s);
	border-radius: 100px;
	background-color: var(--clr-light);
}
/* search */
.search {
	display: flex;
	align-items: center;
	height: max-content;
	min-width: 130px;
	border: 2px solid var(--clr-dark);
	border-radius: 100px;
}

.search svg {
	padding-left: 0.5em;
}

.search-input {
	color: var(--clr-dark);
	background-color: var(--clr-light);
	width: 100%;
	padding: var(--space-xs) var(--space-s);
	border: none;
	height: max-content;
	border-radius: 100px;
}
.search:hover {
	border: 2px solid var(--hover-clr-light);
}
.search-input:focus {
	background-color: var(--clr-light-darker);
	outline: none;
}

/* other actions */
.other-actions {
	display: flex;
	gap: 1em;
	padding: 0 0.5em;
}
/* navbar */
.nav {
	grid-area: navbar;
	margin: 1rem;
	border: 1px solid var(--clr-light-darker);
	border-radius: 8px;
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: column; */
	gap: 1em;
	padding: 1em;
	list-style: none;
	color: var(--clr-light);
}

.nav__list a {
	flex: 1;
	display: flex;
	align-items: center;
	gap: var(--space-s);
}

.nav__list a:hover,
.nav__list li:hover svg {
	color: var(--hover-clr-dark);
	fill: var(--hover-clr-dark);
	font-weight: 600;
}

/* main / right sidebar */
.main {
	grid-area: main;
	display: grid;
	grid-template-areas:
		'announcements-trending'
		'projects';

	padding: 1em;
	gap: 1.25rem;
}

.card {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	padding: var(--space-m);

	background-color: var(--clr-light);
	color: var(--clr-dark);
	box-shadow: var(--shadow);

	border-radius: 8px;
}

.section__title,
.card__title {
	font-size: var(--f-m);
	font-weight: 500;
}

.section__title {
	padding: 0 0 var(--space-s) var(--space-s);
	color: var(--clr-light);
}

.card__title {
	padding-left: var(--space-s);
}

/* projects section */

.projects {
	grid-area: projects;
}

.projects__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	gap: var(--space-m);
}

.card__img-wrapper {
	height: 200px;
	overflow: hidden;
	border-radius: 8px;
}

.card__img {
	width: 100%;
	height: 100%;
	/* image fills the wrapper while keeping aspect ratio */
	object-fit: cover;
}

.card__description {
	padding: 0 var(--space-s);
}

.card__actions {
	gap: var(--space-s);
}

.card__actions svg {
	fill: var(--clr-dark);
	opacity: 0.4;
	height: var(--f-m);
}

.card__actions svg:hover {
	opacity: 0.8;
	cursor: pointer;
}

.announcements-trending {
	grid-area: announcements-trending;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.announcements,
.trending {
	min-width: 270px;
}
/* announcements */
.card hr {
	border: none;
	border-top: 1px solid var(--clr-dark);
	opacity: 0.5;
}

.announcement__title {
	font-size: var(--f-s);
	font-weight: 500;
}

.announcement__body {
	font-size: var(--f-xs);
	font-weight: 400;
	padding: var(--space-xs);
}

.announcement__link {
	font-size: var(--f-xs);
	color: var(--clr-dark);
	opacity: 0.8;
}

.announcement__link:hover {
	color: var(--hover-clr-light);
}

/* trending */
.trend {
	display: flex;
	align-items: center;
	gap: var(--space-m);
}

.trend__user-handle {
	font-size: var(--f-s);
	font-weight: 600;
}

.trend__user-bio {
	font-size: var(--f-xs);
}

.user-avatar {
	/* circle shape */
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	width: 60px;
	height: auto;
	/* cover the circle */
	object-fit: cover;
	flex-shrink: 0;
}

/* footer */
.footer {
	grid-area: footer;
	color: var(--clr-light);
	padding: var(--space-m);
}

.credits__link {
	font-weight: 600;
	text-decoration: none;
}
.credits__link:hover {
	text-decoration: underline;
}

/* media queries */

/* tables */
@media (min-width: 600px) and (max-width: 1024px) {
	.announcements-trending {
		flex-direction: row;
	}
}
/* desktop */
@media (min-width: 1025px) {
	.grid {
		grid-template-columns: 240px 1fr;
		grid-template-rows: auto 1fr auto;

		grid-template-areas:
			'logo header'
			'navbar main'
			'footer footer';
	}

	.nav{
		height: fit-content;
		margin-top: 3.4rem;
	}

	.main {
		grid-template-columns: 3fr 270px;
		grid-template-areas: 'projects announcements-trending';
	}
}
