@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	width: auto;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
/* end of reset */

:root {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;

	/* font size */
	--f-xs: 0.85rem;
	--f-s: 1rem;
	--f-m: 1.25rem;
	--f-l: 1.4rem;
	--f-xl: 3rem;

	/* spacing */
	--space-xs: 0.25rem;
	--space-s: 0.5rem;
	--space-m: 1rem;
	--space-l: 2rem;
	--space-xl: 3rem;

	/* colors */
	--bg: #e2e8f0;

	--clr-dark: #1c2a2b;
	--clr-light: #f1f2f6;

	--text-clr-light: #f1f2f6;
	--text-clr-dark: #1d2630;

	--shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}

body {
	background-color: black;
}

/* utilities */
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.container {
	max-width: 2000px;
	width: 100%;
	margin: 0 auto;
}

.grid {
	background-color: whitesmoke;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 50px auto 1fr auto;
	grid-template-areas:
		'navbar'
		'header'
		'main'
		'footer';
}

/* header */

.header {
	grid-area: header;
	background-color: aquamarine;
}

.header__grid {
	margin: var(--space-m);
	padding: var(--space-s) var(--space-m);
	background: var(--clr-light);
	box-shadow: var(--shadow);
	border-radius: 8px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: var(--space-s);
}

.header__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-s);
}

.header__button {
	padding: var(--space-xs) var(--space-m);
	border: none;
	border-radius: 25px;
	background: var(--clr-dark);
	color: var(--text-clr-light);
	cursor: pointer;
}

.header__button:hover {
	opacity: 0.8;
}

.header__search {
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	border-radius: 25px;
	padding: var(--space-xs);
	background: var(--clr-dark);
	width: 50%;
}

.header__search svg {
	padding-left: var(--space-xs);
	fill: var(--clr-light);
}

.header__search-input {
	background: var(--clr-light);
	color: var(--clr-dark);
	width: 100%;
	padding: var(--space-xs) var(--space-s);
	border: none;
	border-radius: 25px;
}

.header__user {
	gap: var(--space-s);
}

.header__user-info {
	font-size: var(--f-s);
	text-align: right;
	color: var(--text-clr-dark);
}

.header__user-name {
	font-weight: bold;
}

.header__user-handle {
	opacity: 0.7;
}
/* user-avatar: also used for the trending area */

.user-avatar {
	border-radius: 100px;
	object-fit: cover;
	fill: var(--clr-dark);
	height: 4rem;
	width: 4rem;
}

.nav {
	grid-area: navbar;
	background-color: seagreen;
}

/* main / right sidebar */
.main {
	grid-area: main;
	background-color: slateblue;
	display: grid;
	grid-template-areas:
		'announcements-trending'
		'projects';

	padding: 0.5rem;
	gap: 1.25rem;
}

.card {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	padding: var(--space-m);

	background-color: var(--clr-light);
	color: var(--text-clr-dark);
	box-shadow: var(--shadow);

	border-radius: 8px;
}

.main__title,
.card__title {
	font-size: var(--f-m);
	font-weight: 500;
}

.main__title {
	padding: 0 0 var(--space-s) var(--space-s);
}

.card__title {
	padding-left: var(--space-s);
}

/* projects section */

.projects {
	grid-area: projects;
}

.projects__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	justify-content: center;
	gap: var(--space-m);
}

.card__img-wrapper {
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-radius: 8px;
}

.card__img {
	width: 100%;
	height: 100%;
	/* image fills the wrapper while keeping aspect ratio */
	object-fit: cover;
}

.card__description {
	padding: 0 var(--space-s);
}

.card__actions {
	gap: var(--space-s);
}

.card__actions svg {
	fill: var(--clr-dark);
	opacity: 0.2;
	height: var(--f-m);
}

.card__actions svg:hover {
	opacity: 0.7;
	cursor: pointer;
}

.announcements-trending {
	grid-area: announcements-trending;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* announcements */
.card hr {
	border: none;
	border-top: 1px solid var(--clr-dark);
	opacity: 0.5;
}

.announcement__title {
	font-size: var(--f-s);
	font-weight: 500;
}

.announcement__body {
	font-size: var(--f-xs);
	font-weight: 400;
	padding: var(--space-xs);
}

.announcement__link {
	font-size: var(--f-xs);
	color: var(--clr-dark);
	opacity: 0.8;
}

/* trending */
.trend {
	display: flex;
	align-items: center;
	gap: var(--space-m);
}

.trend__user-handle {
	font-size: var(--f-s);
	font-weight: 600;
}

.trend__user-bio {
	font-size: var(--f-xs);
}

/* footer */
.footer {
	grid-area: footer;
	background: var(--clr-dark);
	color: var(--clr-light);
	padding: var(--space-m);
}

.credits__link {
	color: var(--clr-light);
	font-weight: 600;
	text-decoration: none;
}
.credits__link:hover {
	text-decoration: underline;
}

/* media queries */

/* tables */
@media (min-width: 600px) and (max-width: 800px) {
	.grid {
		grid-template-areas:
			'navbar'
			'header'
			'main'
			'footer';
	}

	.main {
		grid-template-columns: 1fr;
		grid-template-areas:
			'announcements-trending'
			'projects';
	}

	.announcements-trending {
		display: flex;
		flex-direction: row;
	}

	.announcements,
	.trending {
		flex: 1;
	}
}
/* desktop */
@media (min-width: 801px) {
	.grid {
		/* TODO: for toggle navbar add: auto 1fr */
		grid-template-columns: 200px 1fr;
		grid-template-rows: auto 1fr auto;

		grid-template-areas:
			'navbar header'
			'navbar main'
			'navbar footer';
	}

	.main {
		grid-template-columns: 3fr minmax(270px, 1fr);
		grid-template-areas: 'projects announcements-trending';
	}
}
